<div class="wrapper">

    <!-- Navbar -->
    <app-navbar></app-navbar>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <app-doctor-sidebar></app-doctor-sidebar>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Quản lý mẫu phiếu khám</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a [routerLink]="['/doctor']">Trang chủ</a></li>
                            <li class="breadcrumb-item active">Quản lý mẫu phiếu khám</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Danh sách mẫu phiếu khám</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <button nz-button nzType="primary" (click)="showModalCreateTemplate()">Thêm mới</button>
                    <br />
                    <br />
                    <nz-table nzShowSizeChanger nzBordered="true" #filterTable [nzData]="listOfDisplayData"
                        [nzFrontPagination]="true" [nzLoading]="loading" [nzTotal]="total" [nzPageSize]="pageSize"
                        [nzPageIndex]="pageIndex">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Mẫu phiếu khám</th>
                                <th>Loại</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of filterTable.data; let i= index">
                                <td>{{i}}</td>
                                <td>{{ data.name }}</td>
                                <td>{{ data.staffDto == null ? 'Dùng chung' : 'Cá nhân' }}</td>
                                <td [nzRight]="false">
                                    <a (click)="data.staffDto != null ? editTemplate(data.id) : ''"><span nz-icon
                                            nzType="edit" nzTheme="outline"></span></a>
                                    <nz-divider nzType="vertical"></nz-divider>
                                    <a (click)="data.staffDto != null ? removeTemplate(data.id) : ''"><span nz-icon
                                            nzType="delete" nzTheme="outline"></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <app-footer></app-footer>
</div>
<!-- ./wrapper -->