._1-m-n-trang-ch,
._1-m-n-trang-ch * {
    box-sizing: border-box;
}

._1-m-n-trang-ch {
    background: #ffffff;
    width: 1440px;
    height: 2940px;
    position: relative;
    overflow: hidden;
}

.ellipse-14 {
    background: #a5ccff;
    border-radius: 50%;
    width: 800px;
    height: 800px;
    position: absolute;
    left: 1440px;
    top: 1154px;
    transform-origin: 0 0;
    transform: rotate(-180deg) scale(1, 1);
}

.group-512788 {
    position: absolute;
    inset: 0;
}

.frame-1000000820 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 259px;
    top: 50px;
}

.frame-1000000815 {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.trang-ch {
    color: #0360d9;
    text-align: left;
    font: 500 20px "IBM Plex Sans", sans-serif;
    position: relative;
}

.frame-1000000816 {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.gi-i-thi-u {
    color: #0d2b46;
    text-align: left;
    font: 400 20px "IBM Plex Sans", sans-serif;
    position: relative;
}

.frame-1000000817 {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.chuy-n-gia-b-c-s {
    color: #0d2b46;
    text-align: left;
    font: 400 20px "IBM Plex Sans", sans-serif;
    position: relative;
}

.frame-10000008202 {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.tin-t-c {
    color: #0d2b46;
    text-align: left;
    font: 400 20px "IBM Plex Sans", sans-serif;
    position: relative;
}

.frame-1000000818 {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.li-n-h {
    color: #0d2b46;
    text-align: left;
    font: 400 20px "IBM Plex Sans", sans-serif;
    position: relative;
}

.frame-1000000819 {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.t-l-ch-kh-m {
    color: #0d2b46;
    text-align: left;
    font: 400 20px "IBM Plex Sans", sans-serif;
    position: relative;
}

.vector-1 {
    position: absolute;
    left: 271px;
    top: 96px;
    overflow: visible;
}

.frame-1000000821 {
    border-radius: 50px;
    border-style: solid;
    border-color: #0360d9;
    border-width: 1px;
    padding: 12px 19px 12px 19px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    height: 50px;
    position: absolute;
    left: 1072px;
    top: 46px;
    overflow: hidden;
}

.ng-nh-p {
    color: #0360d9;
    text-align: left;
    font: 600 20px "IBM Plex Sans", sans-serif;
    position: relative;
}

.frame-1000000822 {
    background: #0360d9;
    border-radius: 50px;
    padding: 12px 26px 12px 26px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 1250px;
    top: 51px;
    overflow: hidden;
}

.ng-k {
    color: #ffffff;
    text-align: left;
    font: 600 20px "IBM Plex Sans", sans-serif;
    position: relative;
}

.trung-t-m-y-t-huy-n-h-h-a {
    color: #000000;
    text-align: left;
    font: 500 64px "IBM Plex Sans", sans-serif;
    position: absolute;
    left: 120px;
    top: 247px;
}

.trao-ch-t-l-ng-nh-n-ni-m-vui {
    color: #163048;
    text-align: left;
    font: 400 32px "Hurricane", sans-serif;
    position: absolute;
    left: 120px;
    top: 432px;
    width: 419px;
}

.rectangle-8 {
    background: #ffffff;
    border-radius: 50px;
    border-style: solid;
    border-color: #0360d9;
    border-width: 1px;
    width: 590px;
    height: 73px;
    position: absolute;
    left: 120px;
    top: 559px;
}

.group {
    position: absolute;
    left: 155px;
    top: 397.17px;
    overflow: visible;
}

.group-1 {
    position: absolute;
    inset: 0;
}

.group2 {
    position: absolute;
    left: 399px;
    top: 397.17px;
    overflow: visible;
}

.vector4 {
    position: absolute;
    left: 404px;
    top: 399.87px;
    overflow: visible;
}

.frame-1000000881 {
    display: flex;
    flex-direction: row;
    gap: 113px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 181px;
    top: 569px;
}

.frame-1000000879 {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.nh-p-t-n-b-c-s {
    color: #000000;
    text-align: left;
    font: 400 16px "IBM Plex Sans", sans-serif;
    position: relative;
    width: 122px;
}

.frame-1000000880 {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.chuy-n-m-n {
    color: #000000;
    text-align: left;
    font: 400 16px "IBM Plex Sans", sans-serif;
    position: relative;
    width: 101px;
}

.vector-3 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.frame-7 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.ellipse-1 {
    background: #0360d9;
    border-radius: 50%;
    flex-shrink: 0;
    width: 56px;
    height: 56px;
    position: relative;
}

.bi-search {
    flex-shrink: 0;
    position: absolute;
    left: 21px;
    top: 21px;
    overflow: visible;
}

.rectangle-9 {
    background: #0360d9;
    width: 1440px;
    height: 134px;
    position: absolute;
    left: 0px;
    top: 870px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, -1);
}

.frame-1000000866 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: -3px;
    top: 2477px;
}

.rectangle-19 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.group-512789 {
    flex-shrink: 0;
    width: 1247px;
    height: 261px;
    position: static;
}

.frame-1000000835 {
    display: flex;
    flex-direction: row;
    gap: 92px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 85px;
    top: 101px;
}

.frame-1000000831 {
    display: flex;
    flex-direction: column;
    gap: 22px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.frame-1000000832 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.chuy-n-m-c-ch-nh {
    color: #ffffff;
    text-align: left;
    font: 600 24px "IBM Plex Sans", sans-serif;
    position: relative;
    width: 225px;
    height: 31px;
}

.frame-1000000830 {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-shrink: 0;
    width: 268px;
    position: relative;
}

.gi-i-thi-u2 {
    color: #ffffff;
    text-align: left;
    font: 500 16px "IBM Plex Sans", sans-serif;
    position: relative;
    width: 102px;
    height: 21px;
}

.li-n-h2 {
    color: #ffffff;
    text-align: left;
    font: 500 16px "IBM Plex Sans", sans-serif;
    position: relative;
    width: 101px;
    height: 21px;
}

.tin-t-c2 {
    color: #ffffff;
    text-align: left;
    font: 500 16px "IBM Plex Sans", sans-serif;
    position: relative;
    width: 102px;
    height: 20.66px;
}

.t-l-ch-kh-m2 {
    color: #ffffff;
    text-align: left;
    font: 500 16px "IBM Plex Sans", sans-serif;
    position: relative;
    width: 126px;
    height: 21px;
}

.frame-1000000829 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.frame-1000000828 {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 389px;
    position: relative;
}

.trung-t-m-y-t-huy-n-h-h-a2 {
    color: #ffffff;
    text-align: left;
    font: 600 24px "IBM Plex Sans", sans-serif;
    position: relative;
}

.frame-1000000827 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.frame-1000000823 {
    display: flex;
    flex-direction: row;
    gap: 33px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.vector6 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.a-ch-khu-10-tt-h-h-a-huy-n-h-h-a-t-nh-ph-th {
    color: #ffffff;
    text-align: left;
    font: 400 16px "IBM Plex Sans", sans-serif;
    position: relative;
    width: 382px;
}

.frame-1000000824 {
    display: flex;
    flex-direction: row;
    gap: 28px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.ic-baseline-phone {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.t-ng-i-1800-8125-mi-n-ph-cu-c-g-i-t-cskh-0210-657-6889-ng-d-y-n-ng-0694-63-1414 {
    color: #ffffff;
    text-align: left;
    font: 400 16px "IBM Plex Sans", sans-serif;
    position: relative;
    width: 370px;
}

.frame-1000000825 {
    display: flex;
    flex-direction: row;
    gap: 26px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.ic-baseline-email {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.email-benhviendakhoahahoa-gmail-com {
    color: #ffffff;
    text-align: left;
    font: 400 16px "IBM Plex Sans", sans-serif;
    position: relative;
    width: 366px;
}

.frame-1000000826 {
    display: flex;
    flex-direction: row;
    gap: 26px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.mdi-web {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.website-http-benhvienhahoa-com-ho-c-fanpage-facebook-trungtamytehuyenhahoa {
    color: #ffffff;
    text-align: left;
    font: 400 16px "IBM Plex Sans", sans-serif;
    position: relative;
    width: 366px;
}

.website-http-benhvienhahoa-com-ho-c-fanpage-facebook-trungtamytehuyenhahoa-span {
    color: #ffffff;
    font: 400 16px "IBM Plex Sans", sans-serif;
}

.website-http-benhvienhahoa-com-ho-c-fanpage-facebook-trungtamytehuyenhahoa-span2 {
    color: #ffffff;
    font: 400 16px "IBM Plex Sans", sans-serif;
    text-decoration: underline;
}

.website-http-benhvienhahoa-com-ho-c-fanpage-facebook-trungtamytehuyenhahoa-span3 {
    color: #ffffff;
    font: 400 16px "IBM Plex Sans", sans-serif;
}

.website-http-benhvienhahoa-com-ho-c-fanpage-facebook-trungtamytehuyenhahoa-span4 {
    color: #ffffff;
    font: 400 16px "IBM Plex Sans", sans-serif;
    text-decoration: underline;
}

.frame-1000000833 {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.xem-b-n {
    color: #ffffff;
    text-align: left;
    font: 600 24px "IBM Plex Sans", sans-serif;
    position: relative;
    width: 132px;
    height: 30.5px;
}

.rectangle-18 {
    border-radius: 10px;
    flex-shrink: 0;
    width: 366px;
    height: 157.44px;
    position: relative;
}

.vector-5 {
    position: absolute;
    left: 120.48px;
    top: 396.89px;
    transform: translate(-2.26px, 6.03px);
    overflow: visible;
}

.unsplash-sakq-lf-78-k-vo {
    width: 1198px;
    height: 799px;
    position: absolute;
    left: 466px;
    top: 71px;
}

.content-cards-v-12 {
    background: var(--neutral-colors-white, #ffffff);
    width: 1440px;
    height: 1522px;
    position: absolute;
    left: 7px;
    top: 955px;
    overflow: hidden;
}

.wrapper {
    position: absolute;
    inset: 0;
}

.container {
    background: #ffffff;
    width: 1440px;
    height: 1522px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.heading {
    color: #007e85;
    text-align: center;
    font: var(--headings-h-2, 700 36px/46px "DM Sans", sans-serif);
    position: absolute;
    left: 657px;
    top: 150px;
}

.paragraph {
    color: #555555;
    text-align: center;
    font: var(--body-default, 400 18px/30px "DM Sans", sans-serif);
    position: absolute;
    left: 413.16px;
    top: 212px;
    width: 613.67px;
}

.card {
    width: 391.79px;
    height: 506px;
    position: static;
}

.container2 {
    background: #fafafa;
    border-radius: 24px;
    width: 391.79px;
    height: 506px;
    position: absolute;
    left: 110px;
    top: 332px;
}

.card-heading {
    color: #007e85;
    text-align: left;
    font: var(--headings-h-3, 700 24px/34px "DM Sans", sans-serif);
    position: absolute;
    left: 133.98px;
    top: 600px;
    width: 324px;
}

.paragraph2 {
    color: #555555;
    text-align: left;
    font: var(--body-default, 400 18px/30px "DM Sans", sans-serif);
    position: absolute;
    left: 133.98px;
    top: 646px;
    width: 340.6px;
}

.link {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 133.98px;
    top: 768px;
}

.master-link {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.xem-th-m {
    color: #007e85;
    text-align: center;
    font: var(--textsingle-200-bold, 700 18px/18px "DM Sans", sans-serif);
    position: relative;
}

.line-rounded-arrow-right {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: hidden;
}

.arrow-right {
    position: absolute;
    left: 2.5px;
    top: 2.95px;
    overflow: visible;
}

.image-placeholder {
    width: 343.79px;
    height: 220px;
    position: static;
}

.container3 {
    background: linear-gradient(to left, #f9f9ff, #f9f9ff);
    border-radius: 10px;
    width: 343.79px;
    height: 220px;
    position: absolute;
    left: 134.02px;
    top: 356px;
}

.image-icon {
    width: 80px;
    height: 70.49px;
    position: absolute;
    left: 265.92px;
    top: 430.75px;
}

.container4 {
    background: #fafafa;
    border-radius: 24px;
    width: 391.79px;
    height: 506px;
    position: absolute;
    left: 110px;
    top: 862px;
}

.card-heading2 {
    color: #007e85;
    text-align: left;
    font: var(--headings-h-3, 700 24px/34px "DM Sans", sans-serif);
    position: absolute;
    left: 133.98px;
    top: 1130px;
    width: 324px;
}

.paragraph3 {
    color: #555555;
    text-align: left;
    font: var(--body-default, 400 18px/30px "DM Sans", sans-serif);
    position: absolute;
    left: 133.98px;
    top: 1176px;
    width: 340.6px;
}

.link2 {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 133.98px;
    top: 1298px;
}

.arrow-right2 {
    position: absolute;
    left: 2.5px;
    top: 2.95px;
    overflow: visible;
}

.container5 {
    background: linear-gradient(to left, #f9f9ff, #f9f9ff);
    border-radius: 10px;
    width: 343.79px;
    height: 220px;
    position: absolute;
    left: 134.02px;
    top: 886px;
}

.image-icon2 {
    width: 80px;
    height: 70.49px;
    position: absolute;
    left: 265.92px;
    top: 960.75px;
}

.container6 {
    background: #fafafa;
    border-radius: 24px;
    width: 391.79px;
    height: 506px;
    position: absolute;
    left: 524.1px;
    top: 862px;
}

.card-heading3 {
    color: #007e85;
    text-align: left;
    font: var(--headings-h-3, 700 24px/34px "DM Sans", sans-serif);
    position: absolute;
    left: 548.08px;
    top: 1130px;
    width: 324px;
}

.paragraph4 {
    color: #555555;
    text-align: left;
    font: var(--body-default, 400 18px/30px "DM Sans", sans-serif);
    position: absolute;
    left: 548.08px;
    top: 1176px;
    width: 340.6px;
}

.link3 {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 548.08px;
    top: 1298px;
}

.arrow-right3 {
    position: absolute;
    left: 2.5px;
    top: 2.95px;
    overflow: visible;
}

.container7 {
    background: linear-gradient(to left, #f9f9ff, #f9f9ff);
    border-radius: 10px;
    width: 343.79px;
    height: 220px;
    position: absolute;
    left: 548.1px;
    top: 886px;
}

.image-icon3 {
    width: 80px;
    height: 70.49px;
    position: absolute;
    left: 680px;
    top: 960.75px;
}

.container8 {
    background: #fafafa;
    border-radius: 24px;
    width: 391.79px;
    height: 506px;
    position: absolute;
    left: 938.21px;
    top: 862px;
}

.card-heading4 {
    color: #007e85;
    text-align: left;
    font: var(--headings-h-3, 700 24px/34px "DM Sans", sans-serif);
    position: absolute;
    left: 962.19px;
    top: 1130px;
    width: 324px;
}

.paragraph5 {
    color: #555555;
    text-align: left;
    font: var(--body-default, 400 18px/30px "DM Sans", sans-serif);
    position: absolute;
    left: 962.19px;
    top: 1176px;
    width: 340.6px;
}

.link4 {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 962.19px;
    top: 1298px;
}

.arrow-right4 {
    position: absolute;
    left: 2.5px;
    top: 2.95px;
    overflow: visible;
}

.container9 {
    background: linear-gradient(to left, #f9f9ff, #f9f9ff);
    border-radius: 10px;
    width: 343.79px;
    height: 220px;
    position: absolute;
    left: 962.21px;
    top: 886px;
}

.image-icon4 {
    width: 80px;
    height: 70.49px;
    position: absolute;
    left: 1094.1px;
    top: 960.75px;
}

.container10 {
    background: #fafafa;
    border-radius: 24px;
    width: 391.79px;
    height: 506px;
    position: absolute;
    left: 524.1px;
    top: 332px;
}

.card-heading5 {
    color: #007e85;
    text-align: left;
    font: var(--headings-h-3, 700 24px/34px "DM Sans", sans-serif);
    position: absolute;
    left: 548.08px;
    top: 600px;
    width: 324px;
}

.paragraph6 {
    color: #555555;
    text-align: left;
    font: var(--body-default, 400 18px/30px "DM Sans", sans-serif);
    position: absolute;
    left: 548.08px;
    top: 646px;
    width: 340.6px;
}

.link5 {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 548.08px;
    top: 768px;
}

.arrow-right5 {
    position: absolute;
    left: 2.5px;
    top: 2.95px;
    overflow: visible;
}

.container11 {
    border-radius: 10px;
    width: 343.79px;
    height: 220px;
    position: absolute;
    left: 548.1px;
    top: 356px;
}

.image-icon5 {
    width: 80px;
    height: 70.49px;
    position: absolute;
    left: 680px;
    top: 430.75px;
}

.container12 {
    background: #fafafa;
    border-radius: 24px;
    width: 391.79px;
    height: 506px;
    position: absolute;
    left: 938.21px;
    top: 332px;
}

.card-heading6 {
    color: #007e85;
    text-align: left;
    font: var(--headings-h-3, 700 24px/34px "DM Sans", sans-serif);
    position: absolute;
    left: 962.19px;
    top: 600px;
    width: 324px;
}

.paragraph7 {
    color: #555555;
    text-align: left;
    font: var(--body-default, 400 18px/30px "DM Sans", sans-serif);
    position: absolute;
    left: 962.19px;
    top: 646px;
    width: 340.6px;
}

.link6 {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 962.19px;
    top: 768px;
}

.arrow-right6 {
    position: absolute;
    left: 2.5px;
    top: 2.95px;
    overflow: visible;
}

.container13 {
    background: linear-gradient(to left, #f9f9ff, #f9f9ff);
    border-radius: 10px;
    width: 343.79px;
    height: 220px;
    position: absolute;
    left: 962.21px;
    top: 356px;
}

.image-icon6 {
    width: 80px;
    height: 70.49px;
    position: absolute;
    left: 1094.1px;
    top: 430.75px;
}

.image-17 {
    width: 135px;
    height: 135px;
    position: absolute;
    left: 92px;
    top: 29px;
}