<div class="wrapper">

    <!-- Navbar -->
    <app-navbar></app-navbar>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <app-nursing-sidebar></app-nursing-sidebar>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Quản lý lịch hẹn</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                            <li class="breadcrumb-item active">Quản lý lịch hẹn</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Danh sách lịch hẹn</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <button nz-button nzType="primary" [routerLink]="['/nursing/create-schedule']">Thêm mới</button>
                    <div class="float-right">
                        <nz-range-picker [(ngModel)]="dateRange"  [nzFormat]="'dd/MM/yyyy'"></nz-range-picker>
                        <button class="ml-2" nz-button nzType="primary" (click)="onSearch()">Tìm kiếm</button>
                    </div>
                    <br />
                    <br />
                    <nz-table nzShowSizeChanger nzBordered="true" #filterTable [nzData]="listOfDisplayData"
                        [nzFrontPagination]="true" [nzLoading]="loading" [nzTotal]="total" [nzPageSize]="pageSize"
                        [nzPageIndex]="pageIndex">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Bệnh nhân
                                    <nz-filter-trigger [(nzVisible)]="visiblePatientName"
                                        [nzActive]="searchPatientNameValue.length > 0"
                                        [nzDropdownMenu]="menuPatientName">
                                        <span nz-icon nzType="search"></span>
                                    </nz-filter-trigger>
                                </th>
                                <th>Số điện thoại
                                    <nz-filter-trigger [(nzVisible)]="visiblePatientPhoneNumber"
                                        [nzActive]="searchPatientPhoneNumberValue.length > 0"
                                        [nzDropdownMenu]="menuPatientPhoneNumber">
                                        <span nz-icon nzType="search"></span>
                                    </nz-filter-trigger>
                                </th>
                                <th *ngFor="let column of listOfColumns; trackBy: trackByName"
                                    [(nzSortOrder)]="column.sortOrder" [nzSortFn]="column.sortFn"
                                    [nzFilters]="column.listOfFilter" [nzFilterFn]="column.filterFn"
                                    [nzShowFilter]="column.listOfFilter.length > 0">
                                    {{ column.name }}
                                </th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of filterTable.data; let i= index">
                                <td>{{i}}</td>
                                <td>{{ data.patientDto.fullName }}</td>
                                <td>{{ data.patientDto.phoneNumber }}</td>
                                <td>{{ data.staffDto.fullName }}</td>
                                <td>{{ data.time | date : 'dd/MM/yyyy' }}</td>
                                <td>{{ data.timeFrame }}</td>

                                <td [style.color]="data.status == 'PENDING' ? '#cc8418' :
                                data.status == 'DONE' ? 'green' :
                                data.status == 'CANCELED' ? 'red' :
                                data.status == 'APPROVE' ? 'blue' :'Không rõ'">

                                    <b>{{ data.status == 'PENDING' ? 'Đang xử lý' :
                                        data.status == 'DONE' ? 'Đã đến khám' :
                                        data.status == 'CANCELED' ? 'Đã hủy' :
                                        data.status == 'APPROVE' ? 'Đã duyệt' :'Không rõ'}}</b>
                                </td>

                                <td [nzRight]="false">
                                    <a *ngIf="data.status != 'DONE'" (click)="editSchedule(data.id)"
                                        routerLink="/nursing/appointment-schedule"><span nz-icon nzType="edit"
                                            nzTheme="outline"></span></a>
                                    <nz-divider nzType="vertical"></nz-divider>
                                    <a (click)="removeSchedule()" routerLink="/nursing/appointment-schedule"><span
                                            nz-icon nzType="delete" nzTheme="outline"></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                    <nz-dropdown-menu #menuPatientName="nzDropdownMenu">
                        <div class="ant-table-filter-dropdown">
                            <div class="search-box">
                                <input type="text" nz-input placeholder="Search name"
                                    [(ngModel)]="searchPatientNameValue" />
                                <button nz-button nzSize="small" nzType="primary" (click)="searchPatientName()"
                                    class="search-button">Search</button>
                                <button nz-button nzSize="small" (click)="resetSearchPatientName()">Reset</button>
                            </div>
                        </div>
                    </nz-dropdown-menu>
                    <nz-dropdown-menu #menuPatientPhoneNumber="nzDropdownMenu">
                        <div class="ant-table-filter-dropdown">
                            <div class="search-box">
                                <input type="text" nz-input placeholder="Search name"
                                    [(ngModel)]="searchPatientPhoneNumberValue" />
                                <button nz-button nzSize="small" nzType="primary" (click)="searchPatientPhoneNumber()"
                                    class="search-button">Search</button>
                                <button nz-button nzSize="small"
                                    (click)="resetSearchPatientPhoneNumber()">Reset</button>
                            </div>
                        </div>
                    </nz-dropdown-menu>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <app-footer></app-footer>
</div>
<!-- ./wrapper -->